{% extends "layout/base.html" %}

{% block title %}Tough Glove | Register {% endblock %}

{% block extra_head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 class="text-center text-danger">Update {{ user.first_name }} {{ user.last_name }}</h1>

    <div class="registration-form rounded-bottom">
        <form method="POST" action = "">
            {% csrf_token %}
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            <div class="form-group mb-3">
                {{ form.first_name }}
            </div>
            <div class="form-group mb-3">
                {{ form.last_name }}
            </div>
            <div class="form-group mb-3">
                {{ form.username }}
            </div>
            <div class="form-group mb-3">
                {{ form.email }}
            </div>
            {% for field, errors in form.errors.items %}
            <div class="alert alert-danger">
                <strong>{{ field }}</strong>
                <ul>
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            <div class="form-group">
                <input type="submit" value ="Update Account" class="btn btn-primary btn-block create-account">
            </div>
        </form>
    </div>

{% endblock content %}