{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    {% block extra_head %}
    <!-- Placeholder for optional head content -->
    {% endblock %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="d-flex flex-column h-100 bg-black main-bg py-4">

    <!-- Navigation -->

    <nav class="navbar container navbar-expand-lg  navbar-light text-white py-5">
        <div class="d-flex container-fluid justify-content-between">
            <div class="logo-div">
                <a class="navbar-brand logo-div text-white" href="{% url 'homepage' %}"><img src="{% static 'img/TG_white_red.png' %}" alt="boxing gloves" class="home-logo" style="width: 100px;"></a>
            </div>
            <div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                        {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'admin_dashboard' %}">ADMIN DASHBOARD</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'members' %}">MEMBERS</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'classes' %}">CLASSES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" aria-current="page" href="{% url 'user_bookings' %}">MY
                                BOOKINGS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'profile' %}">PROFILE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'logout' %}">LOGOUT</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'register' %}">REGISTER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'login' %}">LOGIN</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </main>

    <!-- Footer -->
    <footer class="text-light py-5">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-4">
                    <h5>TOUGH GLOVE</h5>
                    <!-- Add logo or additional content here if necessary -->
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        {% if user.is_authenticated %}
                        <li>
                            <a class="nav-link text-light" href="{% url 'admin_dashboard' %}">ADMIN DASHBOARD</a>
                        </li>
                        <li>
                            <a class="nav-link text-light" href="{% url 'classes' %}">CLASSES</a>
                        </li>
                        <li>
                            <a class="nav-link text-light" href="{% url 'members' %}">MEMBERS</a>
                        </li>
                        <li>
                            <a class="nav-link text-light" aria-current="page" href="{% url 'user_bookings' %}">MY
                                BOOKINGS</a>
                        </li>
                        <li>
                            <a class="nav-link text-light" href="{% url 'logout' %}">LOGOUT</a>
                        </li>
                        {% else %}
                        <li>
                            <a class="nav-link text-light" href="{% url 'homepage' %}">HOMEPAGE</a>
                        </li>
                        <li>
                            <a class="nav-link text-light" href="{% url 'register' %}">REGISTER</a>
                        </li>
                        <li>
                            <a class="nav-link text-light" href="{% url 'login' %}">LOGIN</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>JOIN A CLASS NOW!</h5>
                    <p>Stay motivated and engaged with a little help from a supportive community of other members</p>
                    <a href="#" class="btn btn-danger btn-red">FREE TRIAL</a>
                </div>
            </div>
            <div class="row border-top pt-3 mt-3">
                <div class="col text-light text-center">
                    <p>COPYRIGHT © 2023 TOUGH GLOVE. ALL RIGHTS RESERVED.</p>
                    <a href="#" class="text-light me-2"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="text-light"><i class="bi bi-instagram"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% block extra_js %}
    <!-- Placeholder for optional scripts -->
    {% endblock %}
</body>

</html>