{% extends "layout/base.html" %}
<!-- Load static to use static files like CSS and images -->
{% load static %}
<!-- Set the title of the webpage -->
{% block title %}Tough Glove | Homepage {% endblock %}
<!-- Extra Javascript -->
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css">
{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid text-white py-5">
    <!-- Hero Background Image -->
    <div class="container hero-section justify-content-center align-items-center"
        style="background-image: url('{% static 'img/hero-red-bg-boxer.webp' %}');">
        <!-- Gym Logo -->
        <div class="row">
            <div class="col-md-12 d-flex justify-content-between align-items-center">
                <h1 class="display-4">TOUGH <span class="red-text">GLOVE</span></h1>
            </div>
        </div>
        <div class="row mt-5 align-items-center">
            <div class="col-12">
                <h1 class="display-2">FOR THE LOVE OF THE GLOVE</h1>
            </div>
            <!-- Call to Action button for user registration -->
            <div class="col-md-12 mt-4">
                <a href="{% url 'register' %}" class="btn btn-danger text-white btn-red btn-lg">SIGN UP</a>
                <p class="mt-3">Starting at €19.99/month.</p>
            </div>
        </div>
    </div>
</div>
<!-- Section describing the gym and its offerings -->
<section class="text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Title of the section -->
                <h2 class="mb-5 membership-title">
                    <span>WHAT IS TOUGH GLOVE?</span>
                </h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <img src="{% static 'img/gloves-feathered-second.webp' %}" alt="boxing gloves"
                    class="img-fluid home-image">
            </div>
            <div class="col-md-6">
                <div class="p-5">
                    <p>Tough Glove is dedicated to teaching the sweet science of boxing while offering the benefits of a
                        full body HIIT (High Intensity Interval Training) workout in one seamless class. Our classes are
                        strictly non contact.</p>
                    <p>Our aim is to provide a unique and enjoyable experience to everyone who takes to the glove,
                        regardless of ability and fitness level.</p>
                    <p>Just like tough love, our class will challenge participants and bring them to the best of their
                        ability.</p>
                    <!-- Call to action button for registration -->
                    <a href="{% url 'register' %}" class="btn btn-danger btn-red text-white btn-lg mt-4">SIGN UP</a>
                    <p class="mt-2">Starting at $19.99/month.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Gym Differentiator Section -->
<section class="text-white py-5">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6">
                <h2 class="text-light bg-danger-2 px-3 py-2 rounded">
                    WHY TOUGH GLOVE?
                </h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="text-white pe-5">
                    <p>Unlike most boxing-based fitness classes, our classes are lead and instructed by passionate and
                        active students of the game. Our instructors have experienced the training and preparations that
                        are endured when competing at an elite level, bringing this wisdom to each class. Where better
                        to learn than from the pugilists themselves?</p>

                    <p>Our classes have been designed using a training system that incorporates the perfect balance of
                        both physical fitness and technical skills giving participants the best bang for their buck.</p>

                    <p>Community and inclusivity is at the heart of what we do.</p>

                    <p><strong>Boxing is our business!</strong></p>

                    <!-- Call to action button for registration -->
                    <a href="{% url 'register' %}" class="btn btn-danger btn-red text-white btn-lg mt-4">SIGN UP</a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{% static 'img/bg_girl_3.webp' %}" alt="boxing image two" class="img-fluid home-image">
            </div>
        </div>
    </div>
</section>
<!-- Gym Pricing Section -->
<section class="membership-section">
    <div class="container">
        <!-- Title -->
        <h2 class="mb-5 membership-title">
            <span>MEMBERSHIP PROGRAM</span>
        </h2>
        <!-- Description -->
        <p class="mb-5">Unlimited access to a variety of online workouts. <br> Choose the plan that best fits you.</p>
        <!-- Pricing cards -->
        <div class="row justify-content-around align-items-center">
            <!-- Group Classes -->
            <div class="col-md-3 mb-4">
                <div class="card membership-card">
                    <h3 class="text-white">Group Class</h3>
                    <h4 class="text-white">€10 / class</h4>
                    <p class="text-white">Try out one of our classes</p>
                    <a href="{% url 'register' %}" class="btn btn-outline-light">SIGN UP</a>
                </div>
            </div>

            <!-- PT Classes -->
            <div class="col-md-3 mb-4">
                <div class="card membership-card membership-card-highlight">
                    <h3 class="text-white">Private Class</h3>
                    <h4 class="text-white">€30 / class</h4>
                    <p class="text-white">1 Hour one to one class</p>
                    <a href="{% url 'register' %}" class="btn btn-light">SIGN UP</a>
                </div>
            </div>

            <!-- Membership -->
            <div class="col-md-3 mb-4">
                <div class="card membership-card">
                    <h3 class="text-white">Membership</h3>
                    <h4 class="text-white">€90 / month</h4>
                    <p class="text-white">Unlimited Group Classes</p>
                    <a href="{% url 'register' %}" class="btn btn-outline-light">SIGN UP</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="trainer-section py-5">
    <div class="container">
        <!-- Section Heading -->
        <div class="row mb-4">
            <div class="col-12">
                <h2 class="text-white" style="font-size: 2rem;">MEET YOUR INSTRUCTORS</h2>
            </div>
        </div>
        <!-- Trainers -->
        <div class="row g-4">
            <!-- Trainer 1 -->
            <div class="col-lg-3">
                <div class="trainer-image d-flex h-100 align-items-center">
                    <img src="{% static 'img/tony_image.webp' %}" alt="tony browne profile"
                        class="img-fluid home-image">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="trainer-card">
                    <h3 class="trainer-name">TONY BROWNE</h3>
                    <p class="trainer-title">Tony Browne, our Tough Glove head trainer, is currently a professional
                        boxer after having a
                        very successful amateur career winning national titles and competing and training full time with
                        the national team
                        for
                        many years.<br><br>
                        Tony has travelled the world with boxing and been involved in training camps with some of the
                        greatest
                        boxers and trainers from around
                        the globe.<br><br>
                        This wealth of experience combined with his certification in personal physical training and his
                        Degree in health and
                        performance science from UCD brings him an edge when it comes to teaching these classes.</p>
                    <p class="social-links">
                        <span class="twitter">TONY</span>
                    </p>
                </div>
            </div>
            <!-- Trainer 2 -->
            <div class="col-lg-3">
                <div class="trainer-image d-flex h-100 align-items-center">
                    <img src="{% static 'img/dylan_image.webp' %}" alt="tony browne profile"
                        class="img-fluid home-image">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="trainer-card">
                    <h3 class="trainer-name">DYLAN MURPHY</h3>
                    <p class="trainer-title">Dylan Murphy is a competitive amateur boxer with Portlaoise Boxing Club and
                        qualified personal
                        trainer through Elite Academy, Blackrock. Dylan graduated with a first-class honours degree and
                        soon found himself
                        pursuing his passion in health, fitness and well-being.<br><br>
                        A late starter in boxing, Dylan first walked into a boxing gym at 21 years old. He has competed
                        at Novice,
                        Intermediate and International
                        Elite level.<br><br>
                        After winning an All Ireland university title in his final year of college, he hopes to add to
                        that success over the
                        coming years.</p>
                    <p class="social-links">
                        <span class="twitter">DYLAN</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Gym Testimonials Section -->
<section class="reviews-section">
    <div class="container">
        <h2 class="section-title mb-5 membership-title text-white">
            <span>TESTIMONIALS</span>
        </h2>
        <!-- Carosel For Displaying Testimonials -->
        <div id="testimonial-carousel" class="review-slider carousel slide" data-bs-ride="carousel">
            <div class="review carousel-inner">
                <!-- Brian Keane Testimonial -->
                <div class="carousel-item active" data-bs-interval="5000">
                    <div class="row justify-content-between">
                        <div class="review-image bg-white rounded col-md-5">
                            <img src="{% static 'img/frankkeane_logo.webp' %}" alt="Frank Keane Logo" class="img-fluid">
                        </div>
                        <div class="col-md-6 px-2 review-text-media">
                            <blockquote class="review-text text-white text-start">
                                “I have been going to group and personal training sessions with Tony Browne since 2017,
                                and
                                his
                                coaching is brilliant, go and try out a class that Tony has on offer and your fitness
                                expectations
                                will be exceeded and you will feel like you have had a serious workout afterwards.
                                There’s
                                always a
                                great buzz in Tony’s classes and he is an expert in his game, and you certainly won’t be
                                disappointed.”
                            </blockquote>
                            <div class="review-author text-white text-end">
                                <strong>BRIAN KEANE |</strong>
                                <span class="author-details text-white">DIRECTOR, FRANK KEANE HOLDINGS</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Paul Furlong Testimonial -->
                <div class="row carousel-item" data-bs-interval="5000">
                    <div class="row justify-content-between">
                        <div class="review-image bg-white rounded col-md-5 d-flex align-items-center">
                            <img src="{% static 'img/melcorpologo.webp' %}" alt="Melcorpo Logo" class="img-fluid">
                        </div>
                        <div class="col-md-6 px-2 review-text-media">
                            <blockquote class="review-text text-white text-start">
                                “Tough Glove utilise their professional expertise and knowledge to tailor a training
                                schedule that caters for our availability and training requirements that helps overall
                                fitness levels, team morale and ultimately work performance. I would highly recommend
                                any employer to trial Tough Glove to understand the benefits that providing such a
                                service to employees brings.
                                In todays work environment, providing a health and well being benefit to employees is
                                essential to attracting the best talent out there and ensuring that the current team is
                                happy to stay long term in an organisation that is going to help grow and nurture their
                                needs.”
                            </blockquote>
                            <div class="review-author text-white text-end">
                                <strong>PAUL FURLONG |</strong>
                                <span class="author-details text-white">DIRECTOR, MELCORPO</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}